<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <add key="shell_Linux" value="bash"/>
        <add key="shell_Args_Template_Linux" value='-c "%COMMAND"'/>
        <add key="VNCserver_Script_Path_Linux" value="../Scripts/Linux/startVNCserver.sh" />
        <add key="VNCserver_Script_Args_Linux" value="%IIIIIIII %PPPPP %WxH_SENDER %WxH_STREAM %WxH_RECEIVER" />
        <add key="ffmpeg_Script_Path_Linux" value="../Scripts/Linux/startFFmpeg.sh" />
        <add key="ffmpeg_Script_Args_Linux" value=" %IIIIIIII %PPPPP %WxH_SENDER %WxH_STREAM %WxH_RECEIVER" />

        <add key="shell_Windows" value="cmd.exe"/>
        <add key="shell_Args_Template_Windows" value=""/>
        <add key="VNCserver_Script_Path_Windows" value="" />
        <add key="VNCserver_Script_Args_Windows" value="" />
        <add key="ffmpeg_Script_Path_Windows" value="" />
        <add key="ffmpeg_Script_Args_Windows" value="" />

        <add key="shell_macOS" value="bash"/>
        <add key="shell_Args_Template_macOS" value=""/>
        <add key="VNCserver_Script_Path_macOS" value="" />
        <add key="VNCserver_Script_Args_macOS" value="" /> 
        <add key="ffmpeg_Script_Path_macOS" value="" />
        <add key="ffmpeg_Script_Args_macOS" value="" />

    </appSettings>
</configuration>