<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <add key="shell_Linux" value="bash"/>
        <add key="shell_Args_Template_Linux" value="%SCRIPT_AND_ARGS"/>
        <add key="Start_Streaming_Script_Path_Linux" value="../Scripts/Linux/startStreamingSource.sh" />
        <add key="Start_Streaming_Script_Args_Template_Linux" value="%STREAMING_TYPE %IP_ADDR %PORT_NO %WxH_SENDER %WxH_RECEIVER" />
        <add key="Manage_Screen_Resolutions_Script_Path_Linux" value="../Scripts/Linux/manageScreenResolutions.sh" />
        <add key="Manage_Screen_Resolutions_Script_Args_Template_Linux" value="%ACTION %RESOLUTION" />
        <add key="Preferred_Screen_Width_Linux" value="1024"/>

        <add key="shell_Windows" value="cmd.exe"/>
        <add key="shell_Args_Template_Windows" value=""/>
        <add key="Start_Streaming_Script_Path_Windows" value="" />
        <add key="Start_Streaming_Script_Args_Template_Windows" value="" />
        <add key="Manage_Screen_Resolutions_Script_Path_Windows" value="" />
        <add key="Manage_Screen_Resolutions_Script_Args_Template_Windows" value="" />
        <add key="Preferred_Screen_Width_Windows" value="1280"/>

        <add key="shell_macOS" value="bash"/>
        <add key="shell_Args_Template_macOS" value=""/>
        <add key="Start_Streaming_Script_Path_macOS" value="" />
        <add key="Start_Streaming_Script_Args_Template_macOS" value="" />
        <add key="Manage_Screen_Resolutions_Script_Path_macOS" value="" />
        <add key="Manage_Screen_Resolutions_Script_Args_Template_macOS" value="" />
        <add key="Preferred_Screen_Width_macOS" value=""/>

    </appSettings>
</configuration>